.App {
  text-align: center;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular", sans-serif;
  box-sizing: border-box;
}

.login {
  padding: 10rem 0rem;
}

.MuiInputLabel-filled.MuiInputLabel-shrink {
  transform: translate(0px, 0px), scale(0) !important;
}

.MuiInputLabel-formControl {
  top: 10px !important;
}
