.App {
  text-align: center;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular", sans-serif;
  box-sizing: border-box;
}

/*LOGIN STYLING */
.login {
  padding: 10rem 0rem;
}

.MuiInputLabel-filled.MuiInputLabel-shrink {
  transform: translate(-12px, -10px), scale(1) !important;
}

.MuiInputLabel-formControl {
  top: 10px !important;
}

.MuiFormControl-root {
  min-width: 100% !important;
}

.link,
.link:any-link,
.link:visited,
.link:hover {
  text-decoration: none;
}

a,
a:any-link,
a:visited,
a:hover {
  text-decoration: none;
  color: #252525;
}
