.nav {
  &__container {
    display: flex !important;
    place-content: space-between;
    padding-top: 1rem;
  }
  &__right {
    display: flex;
  }
}

.nav {
  &__user {
    align-self: flex-end;
  }
}
